.label {
  @include nds-label;

  color: $neu-charcoal-grey;
  font-size: px-to-rem(10px);
  line-height: 1.6;
  letter-spacing: px-to-rem(2px);
  text-transform: uppercase;
  margin-bottom: px-to-rem(3px);
}
